* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.hero {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/Main\ banner\ image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: transparent;
}
img.logo {
  margin-left: 50px;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  padding: 0 10px; /* Reduced padding to make gaps smaller */
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  font-weight: bold;
}

.search-icon {
  color: white;
  cursor: pointer;
}

.dropdown-menu {
  min-width: 100px;
  text-align: center;
}
[dir="rtl"] .dropdown-menu {
  text-align: center;
}

[dir="rtl"] .leftScrol {
  display: flex;
  transform: translate(-200px, 0);
  width: fit-content;
}
[dir="rtl"] .bigTitleHero {
  width: fit-content;
  color: white;
  transform: translate(-650px, -100px);
}
/* Sidebar */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  background-color: #333;
  color: white;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
}
[dir="rtl"] .scrollOne {
  transform: translate(40px, -5px);
}
[dir="rtl"] .scrollTwo {
  transform: translate(57px, -5px);
}
[dir="rtl"] .scrollThree {
  transform: translate(0px, -2px);
}
[dir="rtl"] .scrollForh {
  transform: translate(83px, -2px);
}
[dir="rtl"] .scrollSexth {
  transform: translate(89px, 7px);
}
[dir="rtl"] .scrollSeventh {
  transform: translate(-10px, 7px);
}
[dir="rtl"] .scrollEightth {
  transform: translate(89px, 7px);
}
/* LTR - Default Sidebar (slides from the left) */
.sidebar.ltr {
  left: -250px; /* Start from the left edge */
}

.sidebar.ltr.sidebar-open {
  left: 0; /* Slide in from the left */
}

/* RTL - Sidebar (slides from the right) */
.sidebar.rtl {
  right: -250px; /* Start from the right edge */
}

.sidebar.rtl.sidebar-open {
  right: 0; /* Slide in from the right */
}

[dir="rtl"] .leftScrolContent {
  transform: translate(100px, 146px);
  display: flex;
  gap: 5px;
  flex-direction: column;
  cursor: pointer;
}
[dir="rtl"] .head1,
.head2 {
  font-size: 80px;
  font-weight: bolder;
  width: fit-content;
}

.invest-btn {
  background-color: #08c2ed !important;
  border-radius: 20px !important;
  border: none !important;
  color: white !important;
  padding: 10px 40px !important;
  margin-left: 10px !important;
  font-weight: bold !important;
}

.navbar-brand {
  margin-right: 20px; /* Added margin to move the logo to the right */
}

.navbar-brand img {
  height: 40px;
}

.navHolder {
  margin-top: 30px;
}
@media (max-width: 575.98px) {
  [dir="rtl"] .leftScrol {
    display: none;
  }

  /* [dir="rtl"] .leftScrolContent {
    transform: translate(-10px, 146px) !important;
    display: flex;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;
  } */

  [dir="rtl"] .bigTitleHero {
    width: fit-content;
    color: white;
    transform: translate(-30px, 240px) !important;
  }

  [dir="rtl"] .head1,
  [dir="rtl"] .head2 {
    font-size: 60px !important;
    font-weight: bolder !important;
    width: fit-content !important;
  }
  [dir="rtl"] .search-icon {
    color: white;
    cursor: pointer;
    transform: translate(15px, 0);
  }
  [dir="rtl"] .dropdown {
    transform: translate(15px, 0);
  }
  [dir="rtl"] .invest-btn {
    background-color: #08c2ed !important;
    border-radius: 20px !important;
    border: none !important;
    color: white !important;
    margin-left: 10px !important;
    transform: translate(15px, 0);
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  [dir="rtl"] .leftScrol {
    display: flex;
    transform: translate(-130px, 0) !important;
  }

  [dir="rtl"] .bigTitleHero {
    width: fit-content;
    color: white;
    transform: translate(-220px, -100px) !important;
  }

  [dir="rtl"] .head1,
  [dir="rtl"] .head2 {
    font-size: 50px !important;
    font-weight: bolder !important;
    width: fit-content !important;
  }
  [dir="rtl"] .search-icon {
    color: white;
    cursor: pointer;
    transform: translate(15px, 0);
  }
  [dir="rtl"] .dropdown {
    transform: translate(15px, 0);
  }
  [dir="rtl"] .invest-btn {
    background-color: #08c2ed !important;
    border-radius: 20px !important;
    border: none !important;
    color: white !important;
    margin-left: 10px !important;
    transform: translate(15px, 0);
  }
}
@media (min-width: 700px) and (max-width: 991.98px) {
  [dir="rtl"] .leftScrol {
    display: flex;
    transform: translate(-170px, 0) !important;
  }

  [dir="rtl"] .bigTitleHero {
    width: fit-content;
    color: white;
    transform: translate(-400px, -80px) !important;
  }

  [dir="rtl"] .head1,
  [dir="rtl"] .head2 {
    font-size: 50px !important;
    font-weight: bolder !important;
    width: fit-content !important;
  }
  [dir="rtl"] .search-icon {
    color: white;
    cursor: pointer;
    transform: translate(200px, 0);
  }
  [dir="rtl"] .dropdown {
    transform: translate(200px, 0);
  }
  [dir="rtl"] .sidebar-btn {
    font-size: 24px;
    cursor: pointer;
    color: white;
    transform: translate(50px, 0);
  }
  [dir="rtl"] .invest-btn {
    background-color: #08c2ed !important;
    border-radius: 20px !important;
    border: none !important;
    color: white !important;
    margin-left: 10px !important;
    transform: translate(150px, 0);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  [dir="rtl"] .leftScrol {
    display: flex;
    transform: translate(-200px, 0) !important;
  }

  [dir="rtl"] .bigTitleHero {
    width: fit-content;
    color: white;
    transform: translate(-600px, -80px) !important;
  }

  [dir="rtl"] .head1,
  [dir="rtl"] .head2 {
    font-size: 50px !important;
    font-weight: bolder !important;
    width: fit-content !important;
  }
  [dir="rtl"] .search-icon {
    color: white;
    cursor: pointer;
    transform: translate(15px, 0);
  }
  [dir="rtl"] .dropdown {
    transform: translate(15px, 0);
  }
  [dir="rtl"] .invest-btn {
    background-color: #08c2ed !important;
    border-radius: 20px !important;
    border: none !important;
    color: white !important;
    margin-left: 10px !important;
    transform: translate(15px, 0);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  [dir="ltr"].bigTitleHero {
    width: fit-content;
    color: white;
    transform: translate(400px, -200px);
  }
  [dir="ltr"] .head1,
  .head2 {
    font-size: 60px;
    font-weight: bold;
  }
}
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  color: white;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar-btn {
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.sidebar-btn:hover {
  color: #08c2ed !important;
  text-decoration: none !important;
}

.sidebar-open {
  left: 0;
}

.d-sm-none {
  display: none !important;
}
/* Custom CSS for the modal */
.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-header .close {
  outline: none;
}

.modal-body {
  padding: 20px 0;
}

@media (max-width: 991.98px) {
  [dir="ltr"] .d-sm-none {
    display: block !important;
  }
  [dir="ltr"] .navbar-brand {
    transform: translate(-20px, 0);
  }

  [dir="ltr"] .search-icon {
    color: white;
    cursor: pointer;
    transform: translate(-40px, 0);
  }
  [dir="ltr"] .dropdown {
    transform: translate(-40px, 0);
  }
  [dir="ltr"] .invest-btn {
    background-color: #08c2ed !important;
    border-radius: 20px !important;
    border: none !important;
    color: white !important;
    margin-left: 10px !important;
    transform: translate(-40px, 0);
  }

  [dir="ltr"] .sidebar-btn {
    font-size: 24px;
    cursor: pointer;
    color: white;
    transform: translate(-20px, 0);
  }
}
.leftScrolImg {
  width: 15px;
  transform: translate(100px, 130px);
}
.leftScrol {
  display: flex;
}
.leftScrolContent {
  transform: translate(128px, 146px);
  display: flex;
  gap: 5px;
  flex-direction: column;
  cursor: pointer;
}
.leftScrolContent p {
  color: white;
}
.bigTitleHero {
  width: fit-content;
  color: white;
  transform: translate(600px, -140px);
}
@media (max-width: 575.98px) {
  [dir="ltr"] img.logo {
    margin: 0;
  }
  [dir="ltr"] .leftScrol {
    display: none;
  }
  [dir="ltr"] .bigTitleHero {
    width: 450px;
    transform: translate(20px, 200px);
  }
  [dir="ltr"] .head1,
  .head2 {
    font-size: 60px;
    font-weight: bold;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  [dir="ltr"] .bigTitleHero {
    width: fit-content;
    transform: translate(220px, -150px);
  }
  [dir="ltr"] .head1,
  .head2 {
    font-size: 55px;
    font-weight: bold;
  }
  [dir="ltr"] .leftScrol {
    display: flex;
    transform: translate(-80px, 0) !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  [dir="ltr"] .bigTitleHero {
    width: fit-content;
    transform: translate(400px, -150px);
  }
  [dir="ltr"] .head1,
  .head2 {
    font-size: 55px;
    font-weight: bold;
  }
  [dir="ltr"] .leftScrol {
    display: flex;
    transform: translate(35px, 0) !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  [dir="ltr"] .bigTitleHero {
    width: fit-content;
    transform: translate(400px, -150px);
  }
}
